.vscode/
*.npy
__pycache__/
figures/
finalfigures/

plot_results.py
plots.py
plot_diagnostics.py
plot_label.py

test_minimization.py
test_recovery.py
errordistribution.py
diagnostics.py
failed_recover_example.py
